*{padding: 0; margin: 0; border: 0;}
body {
    font-family: 'Open Sans', sans-serif;
    color: #1F1D1F;
	font-size: 13px;
}
h3 {
    color:white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 100px;
    padding-top: 45px;
    font-size: 20px;
}
p {
    color: white;
}
a {
    color: white;
    font-family: 'Open Sans', sans-serif;
}


.home_page {
    background-color: black;
    height: 700px;
    width: 100%;
}
.about_team_page {
    background-color: black;
    height: 500px;
    width: 100%;
    
}
.head_button {
    color:white;
    font-weight: bold;
    border-style: none;
    background-color: black;
    outline: none;
    padding-top: -45px;
    margin-left: 20px;
    border-bottom: 1px solid transparent;
    border-width: 3px;
}
.head_button:hover {
    border-color: #FFA637;
}
.head_buttons {
    margin-left: 750px;
    margin-top: -45px;
}
.welcome_text {
    padding-right: 10px;
    font-size: 30px;
    display: table-cell;
}
.orange {
    display: table-cell;
    font-weight: bold;
    color:#FFA637;
    margin-top: -75px;
    margin-left: 205px;
    font-size: 30px;
}
#welcome_text {
    display: table;
    margin-top: 200px;
    margin-left: 35%;
    text-align: center;
}
.welcome_text_black {
    margin-top: -370px;
    margin-left: 740px;
    font-size: 30px;
    color: black; 
    padding-bottom: 10px;
    width:30%;
    border-bottom:3px solid #FCAC45;
}

.past_welcome_text {
    text-align: center;
    margin-top: -27px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}
.past_welcome_text_black {
    margin-top: -5px;
    margin-left: 770px;
    color:black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
.about_page {
    background-color: white;
    height: 600px;
    width: 100%;
    text-align: center;
}
.mac_img {
    height: 400px;
    width: 450px;
    margin-top: 100px;
    margin-left: -700px;
    
} 
.about_ul {
    margin-left: 750px;
}
ul {
    list-style-image: url(../images/znak.png);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: left;
}
.about_team_h {
    margin-left: 45%;
    font-size: 32px;
    border-bottom: 3px solid #FCAC45;
    
}
.men {
    margin-left: 10%;
    display: table;
    margin-top: 100px;
}
.man div {
    height: 80px;
    width: 80px;
    background-color: #D7D7D7;
    border-radius: 50%;
    display: inline-block;
    margin-left: -15px;
}
.man p {
    text-align: center;
    margin-right: 20px;
    margin-bottom: -5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.man {
    text-align: center;
    display: table-cell;
}
